---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page Not Found" description="The requested page was not found on IMO Mirror.">
  <div class="page-content">
    <h2>Page Not Found</h2>
    <p>Sorry, the page you're looking for doesn't exist or may have been removed.</p>
  </div>
</Layout>
